<template>
  <q-page padding>
    <!-- Para agregar una tarea -->
    <div class="row q-col-gutter-sm q-mb-lg">
      <div class="col-11">
      <q-input
        color="grey-3"
        label-color="secondary"
        outlined
        label="Agrega una nueva tarea"
        @keyup.enter="fncAgregarTarea"
        v-model="tareaNueva"
      >
        <template v-slot:append>
          <q-icon name="task" color="green" />
        </template>
      </q-input>
      </div>

      <div class="col-1">
      <q-btn
        color="primary"
        text-color="white"
        size="md"
        label="Agregar"
        @click.native="fncAgregarTarea"
      />
      </div>
    </div>

    <!-- !! Lista de tareas ( *Pendientes ) -->
    <div class="q-pa-md" style="max-width: 100%">
      <q-list bordered separator>
        <!-- Titulo o cabecera -->
        <!-- <q-list-header>Tareas</q-list-header> -->
        <q-toolbar class="bg-primary text-white shadow-2">
          <q-toolbar-title>Lista de tareas</q-toolbar-title>
          <q-btn dense round flat icon="task">
            <q-badge color="red" floating transparent>
              {{ tareasPendientes.length }}
            </q-badge>
          </q-btn>
        </q-toolbar>

        <!-- Tareas independientes -->
        <q-item
          clickable
          v-ripple
          v-for="(tarea, index) in tareasPendientes"
          :key="index"
        >
          <q-item-section>{{ tarea }}</q-item-section>
          <q-item-section side>
            <div class="text-grey-8 q-gutter-xs">
              <q-icon
                style="font-size: 32px;"
                name="edit"
                color="grey"
                @click.native="fncEditarTarea(index)"
              />
              <q-icon
                style="font-size: 32px;"
                name="check"
                color="grey"
                @click.native="fncMoverToHecho(index)"
              />
            </div>
          </q-item-section>
        </q-item>
      </q-list>
    </div>

    <!-- !! Lista de tareas ( *Hechos o realizados ) -->
    <div class="q-pa-md" style="max-width: 100%">
      <q-list bordered separator>
        <!-- Titulo o cabecera -->
        <!-- <q-list-header>Tareas</q-list-header> -->
        <q-toolbar class="bg-green text-white shadow-2">
          <q-toolbar-title>Tareas realizados</q-toolbar-title>
          <q-btn dense round flat icon="task">
            <q-badge color="red" floating transparent>
              {{ tareasHechos.length }}
            </q-badge>
          </q-btn>
        </q-toolbar>

        <!-- Tareas independientes -->
        <q-item
          clickable
          v-ripple
          v-for="(tarea, index) in tareasHechos"
          :key="index"
        >
          <q-item-section>{{ tarea }}</q-item-section>
          <q-item-section top side>
            <div class="text-grey-8 q-gutter-xs">
              <q-icon
                style="font-size: 28px;"
                name="close"
                color="red"
                @click.native="fncEliminarTarea(index)"
              />
              <q-icon
                style="font-size: 28px;"
                name="remove"
                color="green"
                @click.native="fncMoverToPendientes(index)"
              />
            </div>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  data() {
    return {
      tareaNueva: "",
      tareasPendientes: [],
      tareasHechos: []
    };
  },
  methods: {
    fncAgregarTarea: function() {
      let contenido = this.tareaNueva;

      // Verificar que el contenido de la tarea nueva
      // no sea vacio
      if (contenido.length > 0) {
        this.tareasPendientes.push(contenido);
        this.$q.notify({
          type: "positive",
          position: "top",
          message: "Tarea creado",
          //color : 'green',
          //textColor : 'white',
          progress: true,
          actions: [
            {
              label: "Cerrar",
              color: "white",
              hadler: () => {
                /*Acción*/
              }
            }
          ]
        });
      } else {
        this.$q.notify({
          type: "info",
          position: "top",
          message: "La tarea esta vacía.",
          progress: true,
          actions: [
            {
              label: "Cerrar",
              color: "white",
              hadler: () => {
                /*Acción*/
              }
            }
          ]
        });
      }

      this.tareaNueva = "";
    },
    fncMoverToHecho: function(index) {
      this.tareasHechos.push(this.tareasPendientes[index]);
      this.tareasPendientes.splice(index, 1);
    },
    fncMoverToPendientes: function(index) {
      this.tareasPendientes.push(this.tareasHechos[index]);
      this.tareasHechos.splice(index, 1);
    },
    fncEditarTarea(index) {
      this.$q
        .dialog({
          title: "Modificar tarea",
          message: "Cuál es la tarea? (minimo 3 caracteres)",
          prompt: {
            model: this.tareasPendientes[index],
            isValid: val => val.length > 2, // << here is the magic
            type: "text" // optional
          },
          cancel: true,
          persistent: true
        })
        .onOk(data => {
          this.tareasPendientes.splice(index, 1, data);
          this.$q.notify({
            type: "positive",
            position: "top",
            message: 'Tarea modificado con exito.',
            progress : true,
            actions: [
              {label: 'Cerrar', color : 'white', hadler : () => {/* Acción */} }
            ]
          });
        });
    },
    fncEliminarTarea: function(index) {
      this.$q
        .dialog({
          title: "Confirmar",
          message: "Seguro que deseas eliminar la tarea?",
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          // console.log('>>>> OK')
          this.tareasHechos.splice(index, 1);
          this.$q.notify({
            type: "negative",
            position: "top",
            message: "Tarea eliminado",
            //textColor : 'white',
            //color : 'red',
            progress: true,
            actions: [
              {
                label: "Cerrar",
                color: "white",
                hadler: () => {
                  /*Acción*/
                }
              }
            ]
          });
        })
        .onOk(() => {
          // console.log('>>>> second OK catcher')
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    }
  }
};
</script>
